.ui-slider{
	margin-top:2.5em;
}
.margin-top{
	margin-top:2em;
}
#sliders{
	text-align:center;
}
.form-control.hidden{
	display:none;
}
canvas{
	width:100%;
	height:100%;
	z-index:0!important;
}
#content{
	position:relative;
}
#overlay{
	position:absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	z-index:1;
}